{
    "extends": "airbnb",
    "rules": {
        "func-names": [
        "error",
        "never"
        ],
        "max-len": [
        2,
        120,
        2
        ]
        // specify the maximum length of a line in your program (off by default)
    }
}